<div class="show">
	<!-- サクセスメッセージ -->
	<p><%= flash[:notice] %></p>
	<!-- 詳細内容 -->
	<p>
		<strong>Title:</strong>
		<%= @book.title %>
	</p>
	<p>
		<strong>Body:</strong>
		<%= @book.body %>
	</p>

	<!-- 他のページへのボタン -->
	<%= link_to "Edit", edit_book_path(@book) %>
	<span> | </span>
	<%= link_to "Back",books_path %>
</div>

	<!-- %= link_to "Back", book_path(@book) %> --><!-- %= link_to "Back",books_path ,class: "back" %> -->
	<!-- %= link_to "Edit",edit_book_path(@book),class: "edit_#{@book.id}" %> -->